.img{
    height:100px;width: 100px;
}
// .card-body table.table {
//     height: 400px;
//     overflow-y: scroll;
//     display: block;
// }
.hide-action td.ng2-smart-actions a {
    display: none;
}
input.form-control.ng-untouched.ng-pristine.ng-valid {
    text-align: center;
}


:host /deep/ ng2-smart-table-pager  { 
    float:right;
}
ul.pagination li {
    padding: 0 1px;
    text-decoration: underline;
    color: blue;
}
// th.ng2-smart-th.custom_no{
//     width: 4%;
// }
// th.ng2-smart-th.SKU {
//     width: 8%;
// }
ng2-smart-table{
    height: 400px;
    overflow-y: scroll;
    display: block;
}

.ticket-info{
    width: 20%!important;   
    float: left; 
}